body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.bckcolprim{
    background-color: #f5f5f5;
}

.bckcolsec{
    background-color: #EAD5E6;
}

.bckcolplight{
    background-color: #F2BEFC;
}

.bckcolslight{
    background-color: #CA9CE1;
}

.bckcolslightt{
    color: #CA9CE1;
}

.bckcolsslight{
    background-color: #685F74;
    color: white;
}

.sfToolbarClearer-bb47f3{
    background-color: #F3E0EC;
}