{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

    <h1 class="col-md-12 text-center py-5">Modifier la publication</h1>
        <hr>

    {{ include('post/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_post_index') }}" class="btn btn-dark">Revenir à l'accueil</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
